name: Build Snake Game

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20.x'
        cache: 'npm'

    - name: Install Dependencies
      run: npm install

    - name: Build Application
      run: npm run build

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: snake-game-${{ matrix.os }}
        path: dist/
